--
-- PostgreSQL database dump
--

\restrict kTJMppP9bnNzCdn7ycMOOkbmamKMbWQhsd0HIGA7taKWPvGE50XbzRSXf3iZFID

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_usage_logs; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.ai_usage_logs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    family_id integer,
    action_type character varying(64) NOT NULL,
    ams_spent integer NOT NULL,
    model character varying(64),
    input_tokens integer,
    output_tokens integer,
    estimated_cost double precision,
    metadata_json jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ai_usage_logs OWNER TO aifood;

--
-- Name: ai_usage_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.ai_usage_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_usage_logs_id_seq OWNER TO aifood;

--
-- Name: ai_usage_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.ai_usage_logs_id_seq OWNED BY public.ai_usage_logs.id;


--
-- Name: ama_transactions; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.ama_transactions (
    id integer NOT NULL,
    wallet_id integer NOT NULL,
    amount integer NOT NULL,
    type character varying(16) NOT NULL,
    reason character varying(64) NOT NULL,
    metadata_json jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ama_transactions OWNER TO aifood;

--
-- Name: ama_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.ama_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ama_transactions_id_seq OWNER TO aifood;

--
-- Name: ama_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.ama_transactions_id_seq OWNED BY public.ama_transactions.id;


--
-- Name: ama_wallets; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.ama_wallets (
    id integer NOT NULL,
    user_id integer,
    family_id integer,
    balance integer NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ama_wallets OWNER TO aifood;

--
-- Name: ama_wallets_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.ama_wallets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ama_wallets_id_seq OWNER TO aifood;

--
-- Name: ama_wallets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.ama_wallets_id_seq OWNED BY public.ama_wallets.id;


--
-- Name: care_events; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.care_events (
    id integer NOT NULL,
    user_id integer NOT NULL,
    family_id integer,
    event_type character varying(64) NOT NULL,
    source character varying(64) NOT NULL,
    payload jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.care_events OWNER TO aifood;

--
-- Name: care_events_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.care_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.care_events_id_seq OWNER TO aifood;

--
-- Name: care_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.care_events_id_seq OWNED BY public.care_events.id;


--
-- Name: care_notifications; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.care_notifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    family_id integer,
    type character varying(32) NOT NULL,
    title character varying(200) NOT NULL,
    message text NOT NULL,
    payload jsonb,
    status character varying(16) NOT NULL,
    scheduled_at timestamp with time zone,
    sent_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.care_notifications OWNER TO aifood;

--
-- Name: care_notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.care_notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.care_notifications_id_seq OWNER TO aifood;

--
-- Name: care_notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.care_notifications_id_seq OWNED BY public.care_notifications.id;


--
-- Name: care_settings; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.care_settings (
    id integer NOT NULL,
    user_id integer NOT NULL,
    water_enabled boolean NOT NULL,
    protein_enabled boolean NOT NULL,
    menu_enabled boolean NOT NULL,
    shopping_enabled boolean NOT NULL,
    pantry_enabled boolean NOT NULL,
    progress_enabled boolean NOT NULL,
    family_enabled boolean NOT NULL,
    pro_enabled boolean NOT NULL,
    care_level character varying(16) NOT NULL,
    quiet_hours_start character varying(5),
    quiet_hours_end character varying(5),
    timezone character varying(64),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.care_settings OWNER TO aifood;

--
-- Name: care_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.care_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.care_settings_id_seq OWNER TO aifood;

--
-- Name: care_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.care_settings_id_seq OWNED BY public.care_settings.id;


--
-- Name: event_plans; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.event_plans (
    id integer NOT NULL,
    user_id integer NOT NULL,
    family_id integer,
    title character varying(200) NOT NULL,
    event_type character varying(64) NOT NULL,
    guests_count integer NOT NULL,
    budget character varying(32),
    theme character varying(120),
    cuisine character varying(64),
    religious_restriction character varying(32) NOT NULL,
    fasting_mode character varying(32) NOT NULL,
    drink_menu_mode character varying(32) NOT NULL,
    alcohol_enabled boolean NOT NULL,
    kids_drinks_enabled boolean NOT NULL,
    allergies_note text,
    plan_data jsonb NOT NULL,
    estimated_cost_rub integer,
    status character varying(32) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.event_plans OWNER TO aifood;

--
-- Name: event_plans_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.event_plans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.event_plans_id_seq OWNER TO aifood;

--
-- Name: event_plans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.event_plans_id_seq OWNED BY public.event_plans.id;


--
-- Name: families; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.families (
    id integer NOT NULL,
    name character varying(120) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.families OWNER TO aifood;

--
-- Name: families_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.families_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.families_id_seq OWNER TO aifood;

--
-- Name: families_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.families_id_seq OWNED BY public.families.id;


--
-- Name: family_invites; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.family_invites (
    id integer NOT NULL,
    family_id integer NOT NULL,
    invited_phone_normalized character varying(32) NOT NULL,
    invited_user_id integer,
    invited_by_user_id integer NOT NULL,
    status character varying(16) NOT NULL,
    invite_token character varying(64) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    accepted_at timestamp with time zone,
    declined_at timestamp with time zone
);


ALTER TABLE public.family_invites OWNER TO aifood;

--
-- Name: family_invites_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.family_invites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.family_invites_id_seq OWNER TO aifood;

--
-- Name: family_invites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.family_invites_id_seq OWNED BY public.family_invites.id;


--
-- Name: family_members; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.family_members (
    id integer NOT NULL,
    family_id integer NOT NULL,
    user_id integer,
    display_name character varying(120) NOT NULL,
    role character varying(16) NOT NULL,
    goals jsonb NOT NULL,
    restrictions jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    is_virtual boolean DEFAULT false NOT NULL,
    virtual_kind character varying(32),
    allow_admin_profile_edit boolean DEFAULT false NOT NULL,
    nutrition_profile jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public.family_members OWNER TO aifood;

--
-- Name: family_members_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.family_members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.family_members_id_seq OWNER TO aifood;

--
-- Name: family_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.family_members_id_seq OWNED BY public.family_members.id;


--
-- Name: family_menu_selections; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.family_menu_selections (
    id integer NOT NULL,
    family_id integer,
    user_id integer NOT NULL,
    variant character varying(16) NOT NULL,
    menu_data jsonb NOT NULL,
    selected_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.family_menu_selections OWNER TO aifood;

--
-- Name: family_menu_selections_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.family_menu_selections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.family_menu_selections_id_seq OWNER TO aifood;

--
-- Name: family_menu_selections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.family_menu_selections_id_seq OWNED BY public.family_menu_selections.id;


--
-- Name: family_pantry_items; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.family_pantry_items (
    id integer NOT NULL,
    family_id integer,
    name character varying(120) NOT NULL,
    quantity character varying(80) NOT NULL,
    expires_at date,
    added_by_user_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    user_id integer,
    source character varying(32) DEFAULT 'manual'::character varying NOT NULL,
    unit character varying(32) DEFAULT ''::character varying NOT NULL,
    category character varying(64) DEFAULT '╨┐╤А╨╛╨┤╤Г╨║╤В╤Л'::character varying NOT NULL,
    note character varying(200)
);


ALTER TABLE public.family_pantry_items OWNER TO aifood;

--
-- Name: family_pantry_items_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.family_pantry_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.family_pantry_items_id_seq OWNER TO aifood;

--
-- Name: family_pantry_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.family_pantry_items_id_seq OWNED BY public.family_pantry_items.id;


--
-- Name: family_shopping_lists; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.family_shopping_lists (
    id integer NOT NULL,
    family_id integer,
    menu_selection_id integer,
    items jsonb NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    user_id integer
);


ALTER TABLE public.family_shopping_lists OWNER TO aifood;

--
-- Name: family_shopping_lists_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.family_shopping_lists_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.family_shopping_lists_id_seq OWNER TO aifood;

--
-- Name: family_shopping_lists_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.family_shopping_lists_id_seq OWNED BY public.family_shopping_lists.id;


--
-- Name: meal_leftovers; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.meal_leftovers (
    id integer NOT NULL,
    user_id integer,
    family_id integer,
    dish_name character varying(200) NOT NULL,
    portions_remaining integer NOT NULL,
    valid_until date,
    note character varying(200),
    added_by_user_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.meal_leftovers OWNER TO aifood;

--
-- Name: meal_leftovers_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.meal_leftovers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.meal_leftovers_id_seq OWNER TO aifood;

--
-- Name: meal_leftovers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.meal_leftovers_id_seq OWNED BY public.meal_leftovers.id;


--
-- Name: nutrition_targets; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.nutrition_targets (
    id integer NOT NULL,
    user_id integer,
    person_id integer,
    family_id integer,
    calories_target integer,
    protein_target_g integer,
    fat_target_g integer,
    carbs_target_g integer,
    fiber_target_g integer,
    water_target_ml integer,
    goal_type character varying(32),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.nutrition_targets OWNER TO aifood;

--
-- Name: nutrition_targets_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.nutrition_targets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.nutrition_targets_id_seq OWNER TO aifood;

--
-- Name: nutrition_targets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.nutrition_targets_id_seq OWNED BY public.nutrition_targets.id;


--
-- Name: progress_entries; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.progress_entries (
    id integer NOT NULL,
    user_id integer,
    person_id integer,
    family_id integer,
    weight_kg double precision,
    body_fat_percent double precision,
    waist_cm double precision,
    chest_cm double precision,
    hips_cm double precision,
    notes text,
    recorded_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.progress_entries OWNER TO aifood;

--
-- Name: progress_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.progress_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.progress_entries_id_seq OWNER TO aifood;

--
-- Name: progress_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.progress_entries_id_seq OWNED BY public.progress_entries.id;


--
-- Name: recipe_allergens; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.recipe_allergens (
    id integer NOT NULL,
    recipe_id integer NOT NULL,
    allergen character varying(64) NOT NULL
);


ALTER TABLE public.recipe_allergens OWNER TO aifood;

--
-- Name: recipe_allergens_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.recipe_allergens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_allergens_id_seq OWNER TO aifood;

--
-- Name: recipe_allergens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.recipe_allergens_id_seq OWNED BY public.recipe_allergens.id;


--
-- Name: recipe_favorites; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.recipe_favorites (
    id integer NOT NULL,
    user_id integer NOT NULL,
    recipe_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.recipe_favorites OWNER TO aifood;

--
-- Name: recipe_favorites_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.recipe_favorites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_favorites_id_seq OWNER TO aifood;

--
-- Name: recipe_favorites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.recipe_favorites_id_seq OWNED BY public.recipe_favorites.id;


--
-- Name: recipe_import_jobs; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.recipe_import_jobs (
    id integer NOT NULL,
    source_name character varying(64) NOT NULL,
    source_url character varying(512),
    status character varying(32) NOT NULL,
    imported_count integer NOT NULL,
    failed_count integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.recipe_import_jobs OWNER TO aifood;

--
-- Name: recipe_import_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.recipe_import_jobs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_import_jobs_id_seq OWNER TO aifood;

--
-- Name: recipe_import_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.recipe_import_jobs_id_seq OWNED BY public.recipe_import_jobs.id;


--
-- Name: recipe_ingredients; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.recipe_ingredients (
    id integer NOT NULL,
    recipe_id integer NOT NULL,
    name character varying(120) NOT NULL,
    quantity character varying(32) NOT NULL,
    unit character varying(32) NOT NULL,
    category character varying(32) NOT NULL,
    is_optional boolean NOT NULL,
    notes character varying(200)
);


ALTER TABLE public.recipe_ingredients OWNER TO aifood;

--
-- Name: recipe_ingredients_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.recipe_ingredients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_ingredients_id_seq OWNER TO aifood;

--
-- Name: recipe_ingredients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.recipe_ingredients_id_seq OWNED BY public.recipe_ingredients.id;


--
-- Name: recipe_ratings; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.recipe_ratings (
    id integer NOT NULL,
    recipe_id integer NOT NULL,
    user_id integer,
    family_id integer,
    rating integer,
    is_favorite boolean NOT NULL,
    cooked_count integer NOT NULL,
    last_cooked_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.recipe_ratings OWNER TO aifood;

--
-- Name: recipe_ratings_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.recipe_ratings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_ratings_id_seq OWNER TO aifood;

--
-- Name: recipe_ratings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.recipe_ratings_id_seq OWNED BY public.recipe_ratings.id;


--
-- Name: recipe_restrictions; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.recipe_restrictions (
    id integer NOT NULL,
    recipe_id integer NOT NULL,
    restriction character varying(64) NOT NULL
);


ALTER TABLE public.recipe_restrictions OWNER TO aifood;

--
-- Name: recipe_restrictions_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.recipe_restrictions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_restrictions_id_seq OWNER TO aifood;

--
-- Name: recipe_restrictions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.recipe_restrictions_id_seq OWNED BY public.recipe_restrictions.id;


--
-- Name: recipe_steps; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.recipe_steps (
    id integer NOT NULL,
    recipe_id integer NOT NULL,
    step_number integer NOT NULL,
    text text NOT NULL
);


ALTER TABLE public.recipe_steps OWNER TO aifood;

--
-- Name: recipe_steps_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.recipe_steps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_steps_id_seq OWNER TO aifood;

--
-- Name: recipe_steps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.recipe_steps_id_seq OWNED BY public.recipe_steps.id;


--
-- Name: recipe_tags; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.recipe_tags (
    id integer NOT NULL,
    recipe_id integer NOT NULL,
    tag character varying(64) NOT NULL
);


ALTER TABLE public.recipe_tags OWNER TO aifood;

--
-- Name: recipe_tags_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.recipe_tags_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_tags_id_seq OWNER TO aifood;

--
-- Name: recipe_tags_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.recipe_tags_id_seq OWNED BY public.recipe_tags.id;


--
-- Name: recipes; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.recipes (
    id integer NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    meal_type character varying(16) NOT NULL,
    category character varying(32) NOT NULL,
    prep_time_minutes integer NOT NULL,
    servings integer NOT NULL,
    difficulty character varying(16) NOT NULL,
    diets jsonb NOT NULL,
    tags jsonb NOT NULL,
    ingredients jsonb NOT NULL,
    steps jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    cuisine character varying(64),
    cooking_time_minutes integer DEFAULT 30 NOT NULL,
    calories_per_serving double precision,
    protein_g double precision,
    fat_g double precision,
    carbs_g double precision,
    fiber_g double precision,
    sugar_g double precision,
    source_type character varying(16) DEFAULT 'manual'::character varying NOT NULL,
    source_url character varying(512),
    image_url character varying(512),
    is_drink boolean DEFAULT false NOT NULL,
    is_alcoholic boolean DEFAULT false NOT NULL,
    alcohol_percent double precision,
    caffeine_mg double precision,
    suitable_for_children boolean DEFAULT true NOT NULL,
    suitable_for_sport boolean DEFAULT false NOT NULL,
    suitable_for_event boolean DEFAULT false NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.recipes OWNER TO aifood;

--
-- Name: recipes_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.recipes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipes_id_seq OWNER TO aifood;

--
-- Name: recipes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.recipes_id_seq OWNED BY public.recipes.id;


--
-- Name: shopping_categories; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.shopping_categories (
    id integer NOT NULL,
    slug character varying(64) NOT NULL,
    name character varying(120) NOT NULL,
    icon character varying(16),
    is_food boolean DEFAULT true NOT NULL,
    is_system boolean DEFAULT false NOT NULL,
    user_id integer,
    family_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.shopping_categories OWNER TO aifood;

--
-- Name: shopping_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.shopping_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shopping_categories_id_seq OWNER TO aifood;

--
-- Name: shopping_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.shopping_categories_id_seq OWNED BY public.shopping_categories.id;


--
-- Name: subscription_plans; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.subscription_plans (
    id integer NOT NULL,
    code character varying(32) NOT NULL,
    name character varying(120) NOT NULL,
    price_rub integer NOT NULL,
    max_profiles integer NOT NULL,
    monthly_menu_generations integer,
    monthly_ams integer NOT NULL,
    features jsonb NOT NULL,
    is_active boolean NOT NULL,
    sort_order integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.subscription_plans OWNER TO aifood;

--
-- Name: subscription_plans_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.subscription_plans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subscription_plans_id_seq OWNER TO aifood;

--
-- Name: subscription_plans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.subscription_plans_id_seq OWNED BY public.subscription_plans.id;


--
-- Name: telegram_bot_sessions; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.telegram_bot_sessions (
    telegram_id bigint NOT NULL,
    state character varying(64) NOT NULL,
    invite_token character varying(64),
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    payload_json jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public.telegram_bot_sessions OWNER TO aifood;

--
-- Name: telegram_bot_sessions_telegram_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.telegram_bot_sessions_telegram_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telegram_bot_sessions_telegram_id_seq OWNER TO aifood;

--
-- Name: telegram_bot_sessions_telegram_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.telegram_bot_sessions_telegram_id_seq OWNED BY public.telegram_bot_sessions.telegram_id;


--
-- Name: training_entries; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.training_entries (
    id integer NOT NULL,
    user_id integer,
    person_id integer,
    family_id integer,
    training_type character varying(64) NOT NULL,
    duration_minutes integer,
    intensity character varying(16) NOT NULL,
    calories_burned integer,
    notes text,
    training_date date DEFAULT CURRENT_DATE NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.training_entries OWNER TO aifood;

--
-- Name: training_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.training_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.training_entries_id_seq OWNER TO aifood;

--
-- Name: training_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.training_entries_id_seq OWNED BY public.training_entries.id;


--
-- Name: user_notification_settings; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.user_notification_settings (
    id integer NOT NULL,
    user_id integer NOT NULL,
    buy_reminder_enabled boolean NOT NULL,
    cook_reminder_enabled boolean NOT NULL,
    buy_reminder_time character varying(5) NOT NULL,
    cook_reminder_time character varying(5) NOT NULL,
    timezone character varying(64) NOT NULL,
    last_buy_sent_date date,
    last_cook_sent_date date,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    cook_breakfast_enabled boolean DEFAULT true NOT NULL,
    cook_lunch_enabled boolean DEFAULT true NOT NULL,
    cook_dinner_enabled boolean DEFAULT true NOT NULL,
    cook_breakfast_time character varying(5) DEFAULT '08:00'::character varying NOT NULL,
    cook_lunch_time character varying(5) DEFAULT '13:00'::character varying NOT NULL,
    cook_dinner_time character varying(5) DEFAULT '18:00'::character varying NOT NULL,
    last_breakfast_sent_date date,
    last_lunch_sent_date date,
    last_dinner_sent_date date
);


ALTER TABLE public.user_notification_settings OWNER TO aifood;

--
-- Name: user_notification_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.user_notification_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_notification_settings_id_seq OWNER TO aifood;

--
-- Name: user_notification_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.user_notification_settings_id_seq OWNED BY public.user_notification_settings.id;


--
-- Name: user_preferences; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.user_preferences (
    id integer NOT NULL,
    user_id integer NOT NULL,
    active_mode character varying(16) NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_preferences OWNER TO aifood;

--
-- Name: user_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.user_preferences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_preferences_id_seq OWNER TO aifood;

--
-- Name: user_preferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.user_preferences_id_seq OWNED BY public.user_preferences.id;


--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.user_profiles (
    id integer NOT NULL,
    user_id integer NOT NULL,
    current_step integer NOT NULL,
    completed boolean NOT NULL,
    goals jsonb NOT NULL,
    diets jsonb NOT NULL,
    allergies jsonb NOT NULL,
    restrictions jsonb NOT NULL,
    favorite_foods text NOT NULL,
    disliked_foods text NOT NULL,
    budget character varying(32),
    cooking_time character varying(32),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    age integer,
    gender character varying(24),
    height_cm integer,
    weight_kg double precision,
    nutrition_goal character varying(32),
    activity_level character varying(32),
    medical_restrictions text DEFAULT ''::text NOT NULL,
    banned_foods text DEFAULT ''::text NOT NULL,
    dish_complexity character varying(32),
    pro_data jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public.user_profiles OWNER TO aifood;

--
-- Name: user_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.user_profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_profiles_id_seq OWNER TO aifood;

--
-- Name: user_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.user_profiles_id_seq OWNED BY public.user_profiles.id;


--
-- Name: user_subscriptions; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.user_subscriptions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    family_id integer,
    plan_code character varying(32) NOT NULL,
    status character varying(24) NOT NULL,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    trial_ends_at timestamp with time zone,
    current_period_ends_at timestamp with time zone,
    menu_generations_used integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_subscriptions OWNER TO aifood;

--
-- Name: user_subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.user_subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_subscriptions_id_seq OWNER TO aifood;

--
-- Name: user_subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.user_subscriptions_id_seq OWNED BY public.user_subscriptions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: aifood
--

CREATE TABLE public.users (
    id integer NOT NULL,
    telegram_id bigint NOT NULL,
    username character varying(255),
    first_name character varying(255),
    last_name character varying(255),
    language_code character varying(16),
    photo_url character varying(512),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    phone_number character varying(32),
    accepted_terms boolean DEFAULT false NOT NULL,
    accepted_privacy boolean DEFAULT false NOT NULL,
    accepted_personal_data boolean DEFAULT false NOT NULL,
    legal_accepted_at timestamp with time zone,
    legal_documents_version character varying(32),
    phone_skipped boolean DEFAULT false NOT NULL
);


ALTER TABLE public.users OWNER TO aifood;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: aifood
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO aifood;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifood
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: ai_usage_logs id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.ai_usage_logs ALTER COLUMN id SET DEFAULT nextval('public.ai_usage_logs_id_seq'::regclass);


--
-- Name: ama_transactions id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.ama_transactions ALTER COLUMN id SET DEFAULT nextval('public.ama_transactions_id_seq'::regclass);


--
-- Name: ama_wallets id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.ama_wallets ALTER COLUMN id SET DEFAULT nextval('public.ama_wallets_id_seq'::regclass);


--
-- Name: care_events id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.care_events ALTER COLUMN id SET DEFAULT nextval('public.care_events_id_seq'::regclass);


--
-- Name: care_notifications id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.care_notifications ALTER COLUMN id SET DEFAULT nextval('public.care_notifications_id_seq'::regclass);


--
-- Name: care_settings id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.care_settings ALTER COLUMN id SET DEFAULT nextval('public.care_settings_id_seq'::regclass);


--
-- Name: event_plans id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.event_plans ALTER COLUMN id SET DEFAULT nextval('public.event_plans_id_seq'::regclass);


--
-- Name: families id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.families ALTER COLUMN id SET DEFAULT nextval('public.families_id_seq'::regclass);


--
-- Name: family_invites id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_invites ALTER COLUMN id SET DEFAULT nextval('public.family_invites_id_seq'::regclass);


--
-- Name: family_members id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_members ALTER COLUMN id SET DEFAULT nextval('public.family_members_id_seq'::regclass);


--
-- Name: family_menu_selections id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_menu_selections ALTER COLUMN id SET DEFAULT nextval('public.family_menu_selections_id_seq'::regclass);


--
-- Name: family_pantry_items id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_pantry_items ALTER COLUMN id SET DEFAULT nextval('public.family_pantry_items_id_seq'::regclass);


--
-- Name: family_shopping_lists id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_shopping_lists ALTER COLUMN id SET DEFAULT nextval('public.family_shopping_lists_id_seq'::regclass);


--
-- Name: meal_leftovers id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.meal_leftovers ALTER COLUMN id SET DEFAULT nextval('public.meal_leftovers_id_seq'::regclass);


--
-- Name: nutrition_targets id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.nutrition_targets ALTER COLUMN id SET DEFAULT nextval('public.nutrition_targets_id_seq'::regclass);


--
-- Name: progress_entries id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.progress_entries ALTER COLUMN id SET DEFAULT nextval('public.progress_entries_id_seq'::regclass);


--
-- Name: recipe_allergens id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_allergens ALTER COLUMN id SET DEFAULT nextval('public.recipe_allergens_id_seq'::regclass);


--
-- Name: recipe_favorites id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_favorites ALTER COLUMN id SET DEFAULT nextval('public.recipe_favorites_id_seq'::regclass);


--
-- Name: recipe_import_jobs id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_import_jobs ALTER COLUMN id SET DEFAULT nextval('public.recipe_import_jobs_id_seq'::regclass);


--
-- Name: recipe_ingredients id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_ingredients ALTER COLUMN id SET DEFAULT nextval('public.recipe_ingredients_id_seq'::regclass);


--
-- Name: recipe_ratings id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_ratings ALTER COLUMN id SET DEFAULT nextval('public.recipe_ratings_id_seq'::regclass);


--
-- Name: recipe_restrictions id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_restrictions ALTER COLUMN id SET DEFAULT nextval('public.recipe_restrictions_id_seq'::regclass);


--
-- Name: recipe_steps id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_steps ALTER COLUMN id SET DEFAULT nextval('public.recipe_steps_id_seq'::regclass);


--
-- Name: recipe_tags id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_tags ALTER COLUMN id SET DEFAULT nextval('public.recipe_tags_id_seq'::regclass);


--
-- Name: recipes id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipes ALTER COLUMN id SET DEFAULT nextval('public.recipes_id_seq'::regclass);


--
-- Name: shopping_categories id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.shopping_categories ALTER COLUMN id SET DEFAULT nextval('public.shopping_categories_id_seq'::regclass);


--
-- Name: subscription_plans id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.subscription_plans ALTER COLUMN id SET DEFAULT nextval('public.subscription_plans_id_seq'::regclass);


--
-- Name: telegram_bot_sessions telegram_id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.telegram_bot_sessions ALTER COLUMN telegram_id SET DEFAULT nextval('public.telegram_bot_sessions_telegram_id_seq'::regclass);


--
-- Name: training_entries id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.training_entries ALTER COLUMN id SET DEFAULT nextval('public.training_entries_id_seq'::regclass);


--
-- Name: user_notification_settings id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.user_notification_settings ALTER COLUMN id SET DEFAULT nextval('public.user_notification_settings_id_seq'::regclass);


--
-- Name: user_preferences id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.user_preferences ALTER COLUMN id SET DEFAULT nextval('public.user_preferences_id_seq'::regclass);


--
-- Name: user_profiles id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.user_profiles ALTER COLUMN id SET DEFAULT nextval('public.user_profiles_id_seq'::regclass);


--
-- Name: user_subscriptions id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.user_subscriptions ALTER COLUMN id SET DEFAULT nextval('public.user_subscriptions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: ai_usage_logs; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.ai_usage_logs (id, user_id, family_id, action_type, ams_spent, model, input_tokens, output_tokens, estimated_cost, metadata_json, created_at) FROM stdin;
\.


--
-- Data for Name: ama_transactions; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Data for Name: ama_wallets; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.ama_wallets (id, user_id, family_id, balance, updated_at) FROM stdin;
1	1	\N	200	2026-05-23 10:27:33.115688+00
2	34	\N	200	2026-05-23 10:27:33.177296+00
3	35	\N	200	2026-05-23 10:27:33.239824+00
4	36	\N	400	2026-05-23 10:54:19.866557+00
\.


--
-- Data for Name: care_events; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Data for Name: care_notifications; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Data for Name: care_settings; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.care_settings (id, user_id, water_enabled, protein_enabled, menu_enabled, shopping_enabled, pantry_enabled, progress_enabled, family_enabled, pro_enabled, care_level, quiet_hours_start, quiet_hours_end, timezone, created_at, updated_at) FROM stdin;
1	36	f	f	t	t	t	f	f	f	active	\N	\N	Europe/Moscow	2026-05-23 10:41:01.829633+00	2026-05-23 11:10:59.34207+00
\.


--
-- Data for Name: event_plans; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.event_plans (id, user_id, family_id, title, event_type, guests_count, budget, theme, cuisine, religious_restriction, fasting_mode, drink_menu_mode, alcohol_enabled, kids_drinks_enabled, allergies_note, plan_data, estimated_cost_rub, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: families; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.families (id, name, created_at, updated_at) FROM stdin;
1	Test Family	2026-05-21 14:52:23.404912+00	2026-05-21 14:52:23.404912+00
34	Test	2026-05-22 07:31:35.613613+00	2026-05-22 07:31:35.613613+00
35	╨С╤Г╨╗╤Л╨│╨╕╨╜	2026-05-23 10:50:02.957332+00	2026-05-23 10:50:02.957332+00
\.


--
-- Data for Name: family_invites; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.family_invites (id, family_id, invited_phone_normalized, invited_user_id, invited_by_user_id, status, invite_token, created_at, accepted_at, declined_at) FROM stdin;
\.


--
-- Data for Name: family_members; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Data for Name: family_menu_selections; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Data for Name: family_pantry_items; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.family_pantry_items (id, family_id, name, quantity, expires_at, added_by_user_id, created_at, updated_at, user_id, source, unit, category, note) FROM stdin;
\.


--
-- Data for Name: family_shopping_lists; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.family_shopping_lists (id, family_id, menu_selection_id, items, updated_at, user_id) FROM stdin;
1	\N	\N	[]	2026-05-23 10:40:59.135833+00	36
\.


--
-- Data for Name: meal_leftovers; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.meal_leftovers (id, user_id, family_id, dish_name, portions_remaining, valid_until, note, added_by_user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: nutrition_targets; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.nutrition_targets (id, user_id, person_id, family_id, calories_target, protein_target_g, fat_target_g, carbs_target_g, fiber_target_g, water_target_ml, goal_type, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: progress_entries; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.progress_entries (id, user_id, person_id, family_id, weight_kg, body_fat_percent, waist_cm, chest_cm, hips_cm, notes, recorded_at, created_at) FROM stdin;
\.


--
-- Data for Name: recipe_allergens; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.recipe_allergens (id, recipe_id, allergen) FROM stdin;
\.


--
-- Data for Name: recipe_favorites; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.recipe_favorites (id, user_id, recipe_id, created_at) FROM stdin;
\.


--
-- Data for Name: recipe_import_jobs; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.recipe_import_jobs (id, source_name, source_url, status, imported_count, failed_count, created_at) FROM stdin;
\.


--
-- Data for Name: recipe_ingredients; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Data for Name: recipe_ratings; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.recipe_ratings (id, recipe_id, user_id, family_id, rating, is_favorite, cooked_count, last_cooked_at, created_at) FROM stdin;
\.


--
-- Data for Name: recipe_restrictions; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.recipe_restrictions (id, recipe_id, restriction) FROM stdin;
1	16	kids_friendly
2	17	kids_friendly
3	18	kids_friendly
4	19	kids_friendly
5	20	kids_friendly
6	21	kids_friendly
7	22	kids_friendly
8	23	kids_friendly
9	24	kids_friendly
10	25	kids_friendly
11	26	kids_friendly
12	27	kids_friendly
13	28	kids_friendly
14	29	kids_friendly
15	30	kids_friendly
16	31	kids_friendly
17	64	fasting
18	65	fasting
19	66	fasting
20	67	fasting
21	68	fasting
\.


--
-- Data for Name: recipe_steps; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Data for Name: recipe_tags; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Data for Name: recipes; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Data for Name: shopping_categories; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Data for Name: subscription_plans; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Data for Name: telegram_bot_sessions; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.telegram_bot_sessions (telegram_id, state, invite_token, updated_at, payload_json) FROM stdin;
\.


--
-- Data for Name: training_entries; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.training_entries (id, user_id, person_id, family_id, training_type, duration_minutes, intensity, calories_burned, notes, training_date, created_at) FROM stdin;
\.


--
-- Data for Name: user_notification_settings; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.user_notification_settings (id, user_id, buy_reminder_enabled, cook_reminder_enabled, buy_reminder_time, cook_reminder_time, timezone, last_buy_sent_date, last_cook_sent_date, updated_at, cook_breakfast_enabled, cook_lunch_enabled, cook_dinner_enabled, cook_breakfast_time, cook_lunch_time, cook_dinner_time, last_breakfast_sent_date, last_lunch_sent_date, last_dinner_sent_date) FROM stdin;
1	36	t	t	09:00	17:30	Europe/Moscow	\N	\N	2026-05-23 10:41:01.807038+00	t	t	t	08:00	13:00	18:00	\N	\N	\N
\.


--
-- Data for Name: user_preferences; Type: TABLE DATA; Schema: public; Owner: aifood
--

COPY public.user_preferences (id, user_id, active_mode, updated_at) FROM stdin;
1	1	personal	2026-05-21 14:51:38.967102+00
34	34	personal	2026-05-22 07:30:26.760302+00
35	35	personal	2026-05-22 07:31:36.13422+00
36	36	personal	2026-05-23 10:40:59.104882+00
\.


--
-- Data for Name: user_profiles; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Data for Name: user_subscriptions; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: aifood
--



--
-- Name: ai_usage_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.ai_usage_logs_id_seq', 1, false);


--
-- Name: ama_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.ama_transactions_id_seq', 6, true);


--
-- Name: ama_wallets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.ama_wallets_id_seq', 4, true);


--
-- Name: care_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.care_events_id_seq', 348, true);


--
-- Name: care_notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.care_notifications_id_seq', 348, true);


--
-- Name: care_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.care_settings_id_seq', 1, true);


--
-- Name: event_plans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.event_plans_id_seq', 1, false);


--
-- Name: families_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.families_id_seq', 35, true);


--
-- Name: family_invites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.family_invites_id_seq', 1, false);


--
-- Name: family_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.family_members_id_seq', 36, true);


--
-- Name: family_menu_selections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.family_menu_selections_id_seq', 3, true);


--
-- Name: family_pantry_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.family_pantry_items_id_seq', 1, false);


--
-- Name: family_shopping_lists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.family_shopping_lists_id_seq', 1, true);


--
-- Name: meal_leftovers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.meal_leftovers_id_seq', 1, false);


--
-- Name: nutrition_targets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.nutrition_targets_id_seq', 1, false);


--
-- Name: progress_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.progress_entries_id_seq', 1, false);


--
-- Name: recipe_allergens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.recipe_allergens_id_seq', 1, false);


--
-- Name: recipe_favorites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.recipe_favorites_id_seq', 1, false);


--
-- Name: recipe_import_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.recipe_import_jobs_id_seq', 1, false);


--
-- Name: recipe_ingredients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.recipe_ingredients_id_seq', 118, true);


--
-- Name: recipe_ratings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.recipe_ratings_id_seq', 1, false);


--
-- Name: recipe_restrictions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.recipe_restrictions_id_seq', 21, true);


--
-- Name: recipe_steps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.recipe_steps_id_seq', 134, true);


--
-- Name: recipe_tags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.recipe_tags_id_seq', 102, true);


--
-- Name: recipes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.recipes_id_seq', 74, true);


--
-- Name: shopping_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.shopping_categories_id_seq', 22, true);


--
-- Name: subscription_plans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.subscription_plans_id_seq', 5, true);


--
-- Name: telegram_bot_sessions_telegram_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.telegram_bot_sessions_telegram_id_seq', 1, false);


--
-- Name: training_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.training_entries_id_seq', 1, false);


--
-- Name: user_notification_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.user_notification_settings_id_seq', 1, true);


--
-- Name: user_preferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.user_preferences_id_seq', 36, true);


--
-- Name: user_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.user_profiles_id_seq', 34, true);


--
-- Name: user_subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.user_subscriptions_id_seq', 7, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifood
--

SELECT pg_catalog.setval('public.users_id_seq', 36, true);


--
-- Name: ai_usage_logs ai_usage_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.ai_usage_logs
    ADD CONSTRAINT ai_usage_logs_pkey PRIMARY KEY (id);


--
-- Name: ama_transactions ama_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.ama_transactions
    ADD CONSTRAINT ama_transactions_pkey PRIMARY KEY (id);


--
-- Name: ama_wallets ama_wallets_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.ama_wallets
    ADD CONSTRAINT ama_wallets_pkey PRIMARY KEY (id);


--
-- Name: care_events care_events_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.care_events
    ADD CONSTRAINT care_events_pkey PRIMARY KEY (id);


--
-- Name: care_notifications care_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.care_notifications
    ADD CONSTRAINT care_notifications_pkey PRIMARY KEY (id);


--
-- Name: care_settings care_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.care_settings
    ADD CONSTRAINT care_settings_pkey PRIMARY KEY (id);


--
-- Name: event_plans event_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.event_plans
    ADD CONSTRAINT event_plans_pkey PRIMARY KEY (id);


--
-- Name: families families_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.families
    ADD CONSTRAINT families_pkey PRIMARY KEY (id);


--
-- Name: family_invites family_invites_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_invites
    ADD CONSTRAINT family_invites_pkey PRIMARY KEY (id);


--
-- Name: family_members family_members_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_members
    ADD CONSTRAINT family_members_pkey PRIMARY KEY (id);


--
-- Name: family_members family_members_user_id_key; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_members
    ADD CONSTRAINT family_members_user_id_key UNIQUE (user_id);


--
-- Name: family_menu_selections family_menu_selections_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_menu_selections
    ADD CONSTRAINT family_menu_selections_pkey PRIMARY KEY (id);


--
-- Name: family_pantry_items family_pantry_items_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_pantry_items
    ADD CONSTRAINT family_pantry_items_pkey PRIMARY KEY (id);


--
-- Name: family_shopping_lists family_shopping_lists_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_shopping_lists
    ADD CONSTRAINT family_shopping_lists_pkey PRIMARY KEY (id);


--
-- Name: meal_leftovers meal_leftovers_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.meal_leftovers
    ADD CONSTRAINT meal_leftovers_pkey PRIMARY KEY (id);


--
-- Name: nutrition_targets nutrition_targets_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.nutrition_targets
    ADD CONSTRAINT nutrition_targets_pkey PRIMARY KEY (id);


--
-- Name: progress_entries progress_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.progress_entries
    ADD CONSTRAINT progress_entries_pkey PRIMARY KEY (id);


--
-- Name: recipe_allergens recipe_allergens_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_allergens
    ADD CONSTRAINT recipe_allergens_pkey PRIMARY KEY (id);


--
-- Name: recipe_favorites recipe_favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_favorites
    ADD CONSTRAINT recipe_favorites_pkey PRIMARY KEY (id);


--
-- Name: recipe_import_jobs recipe_import_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_import_jobs
    ADD CONSTRAINT recipe_import_jobs_pkey PRIMARY KEY (id);


--
-- Name: recipe_ingredients recipe_ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_ingredients
    ADD CONSTRAINT recipe_ingredients_pkey PRIMARY KEY (id);


--
-- Name: recipe_ratings recipe_ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_ratings
    ADD CONSTRAINT recipe_ratings_pkey PRIMARY KEY (id);


--
-- Name: recipe_restrictions recipe_restrictions_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_restrictions
    ADD CONSTRAINT recipe_restrictions_pkey PRIMARY KEY (id);


--
-- Name: recipe_steps recipe_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_steps
    ADD CONSTRAINT recipe_steps_pkey PRIMARY KEY (id);


--
-- Name: recipe_tags recipe_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_tags
    ADD CONSTRAINT recipe_tags_pkey PRIMARY KEY (id);


--
-- Name: recipes recipes_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipes
    ADD CONSTRAINT recipes_pkey PRIMARY KEY (id);


--
-- Name: shopping_categories shopping_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.shopping_categories
    ADD CONSTRAINT shopping_categories_pkey PRIMARY KEY (id);


--
-- Name: subscription_plans subscription_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.subscription_plans
    ADD CONSTRAINT subscription_plans_pkey PRIMARY KEY (id);


--
-- Name: telegram_bot_sessions telegram_bot_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.telegram_bot_sessions
    ADD CONSTRAINT telegram_bot_sessions_pkey PRIMARY KEY (telegram_id);


--
-- Name: training_entries training_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.training_entries
    ADD CONSTRAINT training_entries_pkey PRIMARY KEY (id);


--
-- Name: recipe_favorites uq_recipe_favorite_user_recipe; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_favorites
    ADD CONSTRAINT uq_recipe_favorite_user_recipe UNIQUE (user_id, recipe_id);


--
-- Name: recipe_ratings uq_recipe_rating_user_recipe; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_ratings
    ADD CONSTRAINT uq_recipe_rating_user_recipe UNIQUE (user_id, recipe_id);


--
-- Name: user_notification_settings user_notification_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.user_notification_settings
    ADD CONSTRAINT user_notification_settings_pkey PRIMARY KEY (id);


--
-- Name: user_preferences user_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_pkey PRIMARY KEY (id);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (id);


--
-- Name: user_subscriptions user_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.user_subscriptions
    ADD CONSTRAINT user_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_ai_usage_logs_action_type; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_ai_usage_logs_action_type ON public.ai_usage_logs USING btree (action_type);


--
-- Name: ix_ai_usage_logs_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_ai_usage_logs_family_id ON public.ai_usage_logs USING btree (family_id);


--
-- Name: ix_ai_usage_logs_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_ai_usage_logs_user_id ON public.ai_usage_logs USING btree (user_id);


--
-- Name: ix_ama_transactions_wallet_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_ama_transactions_wallet_id ON public.ama_transactions USING btree (wallet_id);


--
-- Name: ix_ama_wallets_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_ama_wallets_family_id ON public.ama_wallets USING btree (family_id);


--
-- Name: ix_ama_wallets_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_ama_wallets_user_id ON public.ama_wallets USING btree (user_id);


--
-- Name: ix_care_events_event_type; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_care_events_event_type ON public.care_events USING btree (event_type);


--
-- Name: ix_care_events_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_care_events_family_id ON public.care_events USING btree (family_id);


--
-- Name: ix_care_events_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_care_events_user_id ON public.care_events USING btree (user_id);


--
-- Name: ix_care_notifications_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_care_notifications_family_id ON public.care_notifications USING btree (family_id);


--
-- Name: ix_care_notifications_type; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_care_notifications_type ON public.care_notifications USING btree (type);


--
-- Name: ix_care_notifications_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_care_notifications_user_id ON public.care_notifications USING btree (user_id);


--
-- Name: ix_care_settings_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE UNIQUE INDEX ix_care_settings_user_id ON public.care_settings USING btree (user_id);


--
-- Name: ix_event_plans_event_type; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_event_plans_event_type ON public.event_plans USING btree (event_type);


--
-- Name: ix_event_plans_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_event_plans_family_id ON public.event_plans USING btree (family_id);


--
-- Name: ix_event_plans_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_event_plans_user_id ON public.event_plans USING btree (user_id);


--
-- Name: ix_family_invites_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_family_invites_family_id ON public.family_invites USING btree (family_id);


--
-- Name: ix_family_invites_invite_token; Type: INDEX; Schema: public; Owner: aifood
--

CREATE UNIQUE INDEX ix_family_invites_invite_token ON public.family_invites USING btree (invite_token);


--
-- Name: ix_family_invites_invited_by_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_family_invites_invited_by_user_id ON public.family_invites USING btree (invited_by_user_id);


--
-- Name: ix_family_invites_invited_phone_normalized; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_family_invites_invited_phone_normalized ON public.family_invites USING btree (invited_phone_normalized);


--
-- Name: ix_family_invites_invited_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_family_invites_invited_user_id ON public.family_invites USING btree (invited_user_id);


--
-- Name: ix_family_invites_status; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_family_invites_status ON public.family_invites USING btree (status);


--
-- Name: ix_family_invites_token; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_family_invites_token ON public.family_invites USING btree (invite_token);


--
-- Name: ix_family_members_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_family_members_family_id ON public.family_members USING btree (family_id);


--
-- Name: ix_family_menu_selections_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_family_menu_selections_family_id ON public.family_menu_selections USING btree (family_id);


--
-- Name: ix_family_menu_selections_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_family_menu_selections_user_id ON public.family_menu_selections USING btree (user_id);


--
-- Name: ix_family_pantry_items_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_family_pantry_items_family_id ON public.family_pantry_items USING btree (family_id);


--
-- Name: ix_family_pantry_items_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_family_pantry_items_user_id ON public.family_pantry_items USING btree (user_id);


--
-- Name: ix_family_shopping_lists_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE UNIQUE INDEX ix_family_shopping_lists_family_id ON public.family_shopping_lists USING btree (family_id);


--
-- Name: ix_family_shopping_lists_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE UNIQUE INDEX ix_family_shopping_lists_user_id ON public.family_shopping_lists USING btree (user_id);


--
-- Name: ix_meal_leftovers_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_meal_leftovers_family_id ON public.meal_leftovers USING btree (family_id);


--
-- Name: ix_meal_leftovers_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_meal_leftovers_user_id ON public.meal_leftovers USING btree (user_id);


--
-- Name: ix_nutrition_targets_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_nutrition_targets_family_id ON public.nutrition_targets USING btree (family_id);


--
-- Name: ix_nutrition_targets_person_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_nutrition_targets_person_id ON public.nutrition_targets USING btree (person_id);


--
-- Name: ix_nutrition_targets_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_nutrition_targets_user_id ON public.nutrition_targets USING btree (user_id);


--
-- Name: ix_progress_entries_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_progress_entries_family_id ON public.progress_entries USING btree (family_id);


--
-- Name: ix_progress_entries_person_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_progress_entries_person_id ON public.progress_entries USING btree (person_id);


--
-- Name: ix_progress_entries_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_progress_entries_user_id ON public.progress_entries USING btree (user_id);


--
-- Name: ix_recipe_allergens_allergen; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipe_allergens_allergen ON public.recipe_allergens USING btree (allergen);


--
-- Name: ix_recipe_allergens_recipe_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipe_allergens_recipe_id ON public.recipe_allergens USING btree (recipe_id);


--
-- Name: ix_recipe_favorites_recipe_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipe_favorites_recipe_id ON public.recipe_favorites USING btree (recipe_id);


--
-- Name: ix_recipe_favorites_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipe_favorites_user_id ON public.recipe_favorites USING btree (user_id);


--
-- Name: ix_recipe_ingredients_recipe_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipe_ingredients_recipe_id ON public.recipe_ingredients USING btree (recipe_id);


--
-- Name: ix_recipe_ratings_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipe_ratings_family_id ON public.recipe_ratings USING btree (family_id);


--
-- Name: ix_recipe_ratings_recipe_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipe_ratings_recipe_id ON public.recipe_ratings USING btree (recipe_id);


--
-- Name: ix_recipe_ratings_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipe_ratings_user_id ON public.recipe_ratings USING btree (user_id);


--
-- Name: ix_recipe_restrictions_recipe_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipe_restrictions_recipe_id ON public.recipe_restrictions USING btree (recipe_id);


--
-- Name: ix_recipe_restrictions_restriction; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipe_restrictions_restriction ON public.recipe_restrictions USING btree (restriction);


--
-- Name: ix_recipe_steps_recipe_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipe_steps_recipe_id ON public.recipe_steps USING btree (recipe_id);


--
-- Name: ix_recipe_tags_recipe_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipe_tags_recipe_id ON public.recipe_tags USING btree (recipe_id);


--
-- Name: ix_recipe_tags_tag; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipe_tags_tag ON public.recipe_tags USING btree (tag);


--
-- Name: ix_recipes_category; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipes_category ON public.recipes USING btree (category);


--
-- Name: ix_recipes_meal_type; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipes_meal_type ON public.recipes USING btree (meal_type);


--
-- Name: ix_recipes_title; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_recipes_title ON public.recipes USING btree (title);


--
-- Name: ix_shopping_categories_family; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_shopping_categories_family ON public.shopping_categories USING btree (family_id);


--
-- Name: ix_shopping_categories_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_shopping_categories_family_id ON public.shopping_categories USING btree (family_id);


--
-- Name: ix_shopping_categories_slug; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_shopping_categories_slug ON public.shopping_categories USING btree (slug);


--
-- Name: ix_shopping_categories_user; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_shopping_categories_user ON public.shopping_categories USING btree (user_id);


--
-- Name: ix_shopping_categories_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_shopping_categories_user_id ON public.shopping_categories USING btree (user_id);


--
-- Name: ix_subscription_plans_code; Type: INDEX; Schema: public; Owner: aifood
--

CREATE UNIQUE INDEX ix_subscription_plans_code ON public.subscription_plans USING btree (code);


--
-- Name: ix_training_entries_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_training_entries_family_id ON public.training_entries USING btree (family_id);


--
-- Name: ix_training_entries_person_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_training_entries_person_id ON public.training_entries USING btree (person_id);


--
-- Name: ix_training_entries_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_training_entries_user_id ON public.training_entries USING btree (user_id);


--
-- Name: ix_user_notification_settings_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE UNIQUE INDEX ix_user_notification_settings_user_id ON public.user_notification_settings USING btree (user_id);


--
-- Name: ix_user_preferences_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE UNIQUE INDEX ix_user_preferences_user_id ON public.user_preferences USING btree (user_id);


--
-- Name: ix_user_profiles_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE UNIQUE INDEX ix_user_profiles_user_id ON public.user_profiles USING btree (user_id);


--
-- Name: ix_user_subscriptions_family_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_user_subscriptions_family_id ON public.user_subscriptions USING btree (family_id);


--
-- Name: ix_user_subscriptions_plan_code; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_user_subscriptions_plan_code ON public.user_subscriptions USING btree (plan_code);


--
-- Name: ix_user_subscriptions_user_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE INDEX ix_user_subscriptions_user_id ON public.user_subscriptions USING btree (user_id);


--
-- Name: ix_users_telegram_id; Type: INDEX; Schema: public; Owner: aifood
--

CREATE UNIQUE INDEX ix_users_telegram_id ON public.users USING btree (telegram_id);


--
-- Name: uq_ama_wallet_user; Type: INDEX; Schema: public; Owner: aifood
--

CREATE UNIQUE INDEX uq_ama_wallet_user ON public.ama_wallets USING btree (user_id) WHERE (family_id IS NULL);


--
-- Name: uq_family_invite_pending_phone; Type: INDEX; Schema: public; Owner: aifood
--

CREATE UNIQUE INDEX uq_family_invite_pending_phone ON public.family_invites USING btree (family_id, invited_phone_normalized) WHERE (((status)::text = 'pending'::text) AND ((invited_phone_normalized)::text <> '__link__'::text));


--
-- Name: ai_usage_logs ai_usage_logs_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.ai_usage_logs
    ADD CONSTRAINT ai_usage_logs_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE SET NULL;


--
-- Name: ai_usage_logs ai_usage_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.ai_usage_logs
    ADD CONSTRAINT ai_usage_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: ama_transactions ama_transactions_wallet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.ama_transactions
    ADD CONSTRAINT ama_transactions_wallet_id_fkey FOREIGN KEY (wallet_id) REFERENCES public.ama_wallets(id) ON DELETE CASCADE;


--
-- Name: ama_wallets ama_wallets_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.ama_wallets
    ADD CONSTRAINT ama_wallets_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE CASCADE;


--
-- Name: ama_wallets ama_wallets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.ama_wallets
    ADD CONSTRAINT ama_wallets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: care_events care_events_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.care_events
    ADD CONSTRAINT care_events_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE SET NULL;


--
-- Name: care_events care_events_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.care_events
    ADD CONSTRAINT care_events_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: care_notifications care_notifications_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.care_notifications
    ADD CONSTRAINT care_notifications_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE SET NULL;


--
-- Name: care_notifications care_notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.care_notifications
    ADD CONSTRAINT care_notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: care_settings care_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.care_settings
    ADD CONSTRAINT care_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: event_plans event_plans_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.event_plans
    ADD CONSTRAINT event_plans_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE CASCADE;


--
-- Name: event_plans event_plans_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.event_plans
    ADD CONSTRAINT event_plans_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: family_invites family_invites_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_invites
    ADD CONSTRAINT family_invites_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE CASCADE;


--
-- Name: family_invites family_invites_invited_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_invites
    ADD CONSTRAINT family_invites_invited_by_user_id_fkey FOREIGN KEY (invited_by_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: family_invites family_invites_invited_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_invites
    ADD CONSTRAINT family_invites_invited_user_id_fkey FOREIGN KEY (invited_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: family_members family_members_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_members
    ADD CONSTRAINT family_members_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE CASCADE;


--
-- Name: family_members family_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_members
    ADD CONSTRAINT family_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: family_menu_selections family_menu_selections_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_menu_selections
    ADD CONSTRAINT family_menu_selections_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE CASCADE;


--
-- Name: family_menu_selections family_menu_selections_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_menu_selections
    ADD CONSTRAINT family_menu_selections_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: family_pantry_items family_pantry_items_added_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_pantry_items
    ADD CONSTRAINT family_pantry_items_added_by_user_id_fkey FOREIGN KEY (added_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: family_pantry_items family_pantry_items_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_pantry_items
    ADD CONSTRAINT family_pantry_items_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE CASCADE;


--
-- Name: family_pantry_items family_pantry_items_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_pantry_items
    ADD CONSTRAINT family_pantry_items_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: family_shopping_lists family_shopping_lists_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_shopping_lists
    ADD CONSTRAINT family_shopping_lists_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE CASCADE;


--
-- Name: family_shopping_lists family_shopping_lists_menu_selection_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_shopping_lists
    ADD CONSTRAINT family_shopping_lists_menu_selection_id_fkey FOREIGN KEY (menu_selection_id) REFERENCES public.family_menu_selections(id) ON DELETE SET NULL;


--
-- Name: family_shopping_lists family_shopping_lists_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.family_shopping_lists
    ADD CONSTRAINT family_shopping_lists_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: meal_leftovers meal_leftovers_added_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.meal_leftovers
    ADD CONSTRAINT meal_leftovers_added_by_user_id_fkey FOREIGN KEY (added_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: meal_leftovers meal_leftovers_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.meal_leftovers
    ADD CONSTRAINT meal_leftovers_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE CASCADE;


--
-- Name: meal_leftovers meal_leftovers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.meal_leftovers
    ADD CONSTRAINT meal_leftovers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: nutrition_targets nutrition_targets_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.nutrition_targets
    ADD CONSTRAINT nutrition_targets_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE CASCADE;


--
-- Name: nutrition_targets nutrition_targets_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.nutrition_targets
    ADD CONSTRAINT nutrition_targets_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.family_members(id) ON DELETE CASCADE;


--
-- Name: nutrition_targets nutrition_targets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.nutrition_targets
    ADD CONSTRAINT nutrition_targets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: progress_entries progress_entries_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.progress_entries
    ADD CONSTRAINT progress_entries_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE CASCADE;


--
-- Name: progress_entries progress_entries_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.progress_entries
    ADD CONSTRAINT progress_entries_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.family_members(id) ON DELETE CASCADE;


--
-- Name: progress_entries progress_entries_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.progress_entries
    ADD CONSTRAINT progress_entries_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: recipe_allergens recipe_allergens_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_allergens
    ADD CONSTRAINT recipe_allergens_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: recipe_favorites recipe_favorites_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_favorites
    ADD CONSTRAINT recipe_favorites_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: recipe_favorites recipe_favorites_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_favorites
    ADD CONSTRAINT recipe_favorites_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: recipe_ingredients recipe_ingredients_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_ingredients
    ADD CONSTRAINT recipe_ingredients_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: recipe_ratings recipe_ratings_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_ratings
    ADD CONSTRAINT recipe_ratings_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE CASCADE;


--
-- Name: recipe_ratings recipe_ratings_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_ratings
    ADD CONSTRAINT recipe_ratings_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: recipe_ratings recipe_ratings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_ratings
    ADD CONSTRAINT recipe_ratings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: recipe_restrictions recipe_restrictions_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_restrictions
    ADD CONSTRAINT recipe_restrictions_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: recipe_steps recipe_steps_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_steps
    ADD CONSTRAINT recipe_steps_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: recipe_tags recipe_tags_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.recipe_tags
    ADD CONSTRAINT recipe_tags_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: shopping_categories shopping_categories_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.shopping_categories
    ADD CONSTRAINT shopping_categories_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE CASCADE;


--
-- Name: shopping_categories shopping_categories_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.shopping_categories
    ADD CONSTRAINT shopping_categories_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: training_entries training_entries_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.training_entries
    ADD CONSTRAINT training_entries_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE CASCADE;


--
-- Name: training_entries training_entries_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.training_entries
    ADD CONSTRAINT training_entries_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.family_members(id) ON DELETE CASCADE;


--
-- Name: training_entries training_entries_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.training_entries
    ADD CONSTRAINT training_entries_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_notification_settings user_notification_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.user_notification_settings
    ADD CONSTRAINT user_notification_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_preferences user_preferences_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_profiles user_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_subscriptions user_subscriptions_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.user_subscriptions
    ADD CONSTRAINT user_subscriptions_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id) ON DELETE SET NULL;


--
-- Name: user_subscriptions user_subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifood
--

ALTER TABLE ONLY public.user_subscriptions
    ADD CONSTRAINT user_subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict kTJMppP9bnNzCdn7ycMOOkbmamKMbWQhsd0HIGA7taKWPvGE50XbzRSXf3iZFID

